{{template "head" .}}
{{template "header" .}}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3 tarjeta">
        {{.Icon}}
        <h1 class="text-body-emphasis">{{.H1}}</h1>
        {{if .Data}}
            <h1 class="text-body-emphasis">{{printf "%.2f" .Data}}</h1>
        {{end}}
        <form action="{{.Rutaget}}" method="GET">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Rango de edad</span>
                </div>
                <input type="number" class="form-control" name="edad1" required min="0">
                <input type="number" class="form-control" name="edad2" required min="0">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Calcular</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{template "footer" .}}