{{template "head" .}}
{{template "header" .}}
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
        {{.Icon}}
        <h1 class="text-body-emphasis">{{.H1}}</h1>
        <form action="/reporteMatriculas" method="GET">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Ingrese el año:</span>
                </div>
                <input type="number" class="form-control" name="year" required min="2010">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Reporte</button>
                </div>
            </div>
        </form>
        {{if .Data}}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Sexo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefono</th>
                            <th scope="col">Matriculado</th>
                            <th scope="col">Promedio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Data}}
                        <tr>
                            <th scope="row">{{.Index}}</th>
                            <td>{{.Nombre}}</td>
                            <td>{{.Apellido}}</td>
                            <td>{{.Edad}}</td>
                            <td>{{.Gender}}</td>
                            <td>{{.Email}}</td>
                            <td>{{.Phone}}</td>
                            <td>{{.Matriculado}}</td>
                            <td>{{printf "%.2f" .CalcularPromedio}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        {{end}}

    </div>
</div>
{{template "footer" .}}