{{define "header"}}
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
        <div class="container-xl">
            <a class="navbar-brand" href="/">TallerGO-Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL"
                aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07XL">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Curso</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/curso/topMejoresEstudiantes">Top mejores estudiantes</a>
                            </li>
                            <li><a class="dropdown-item" href="/curso/topPeoresEstudiantes">Top peores estudiantes</a>
                            </li>
                            <li><a class="dropdown-item" href="/curso/calcularEstadisticas">Calcular estadísticas</a>
                            </li>
                            <li><a class="dropdown-item" href="/curso/agregarCurso"> Agregar curso</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                            aria-expanded="false">Estudiante</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/estudiante/mejorPromedio">Mejor promedio</a></li>
                            <li><a class="dropdown-item" href="/estudiante/peorPromedio">Peor promedio</a></li>
                            <li><a class="dropdown-item" href="/estudiante/masculinoMasLongevo">Masculino más
                                    longevo</a></li>
                            <li><a class="dropdown-item" href="/estudiante/femeninaMasLongeva">Femenina más longeva</a>
                            <li><a class="dropdown-item" href="/estudiante/agregarEstudiante">Agregar estudiante</a></li>
                            </li>
                        </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/reporteMatriculas">Reporte matrículas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/promedioRangoEdad">Promedio de estudiantes por edad</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    {{end}}